<footer>
<div class="footer">
<div class="icon">
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-whatsapp"></i>
</div>
<div class="detail-footer">
    <p>&copy;WonderLust Private Limited</p>
</div>
<div class="privacy-terms">
    <a href="privacy">Privacy</a>
    <a href="terms">terms</a>
</div>
</div>
<p><b>Developer:Ajay Keshwal</b></p>

</footer>