<% layout("/layout/boiler") %>

    <br><br>

    
    <div class="row offset-2">
        <div class="col-8">
    <form method="post" action="/listing" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-2">

            <label for="text" class="form-label">Name</label>
            <input type="text" placeholder="enter title" name="listing[title]"class="form-control" required>
            <div class="valid-feedback ">Looks good!</div>      
        </div>
        <div class="mb-2">
            <label for="description" class="form-label">Description</label>
            <input type="text" placeholder="enter description" name="listing[description]"class="form-control" required>
            <div class="invalid-feedback">Please enter short decription</div>

        </div>
        <div class="mb-2">
            <label for="image" class="form-label">Image listing upload</label>
            <input type="file" placeholder="enter image URL" name="listing[image]" class="form-control" required>  

        </div>
        <div class="row" >
            <div class="mb-2 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input type="text" placeholder="enter price" name="listing[price]"class="form-control" required> 
                <div class="invalid-feedback">Price should be valid </div>
            </div>
            <div class="mb-2 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input type="text" placeholder="enter country" name="listing[country]"class="form-control" required>
                <div class="invalid-feedback">Country name shoud be valid</div>
                
            </div>
        </div>
        <div class="mb-2 ">
            <label for="Location" class="form-label">Location</label>
            <input type="text" placeholder="jaipur,Rajasthan" name="listing[location]"class="form-control" required>
            <div class="invalid-feedback">Location name shoud be valid</div>

        </div>
    <button class="btn btn-dark mt-3">Add</button>
    </form>
</div>
</div>





